$font: "Poppins", sans-serif;
$orange: #e87d0e;
$black1: #000;
$black2: #222;
$black3: #1a1a1a;
$gray: #525252;
$gray1: #848484;
$gray2: #727272;
$white1: #f1f1f1;
$orange1: #df7c14;
$orande2: #dc7000;
$orange4: #fa8305;
$white: #fff;
$orange_dark: #954f05;
$light_gray: #f5f5f5;
$green: #0cbe64;
$black_shadow: #0000000d;
$light_green: #e0f4e9;
$red: #dc0000;
$light_red: #f8e7e6;
$light_purple: #f3e4f9;
$purple: #b000dc;
